In [2]:
# /Users/chriswesterman/Library/Jupyter/nbextensions/snippets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 50)

# Data Manipulation

## Segment Stat

In [83]:
df1 = pd.read_csv('../revreports/data/11_23_20/segment_stat.txt', sep="\t", 
                usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'], engine='python', skipfooter=2)
df1.columns = ['Code', 'Res', 'Rev']

df2 = pd.read_csv('../revreports/data/11_24_20/segment_stat.txt', sep="\t", engine='python', skipfooter=2,
                 usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'])
df2.columns = ['Code', 'Res', 'Rev']

In [84]:
df1['Date'] = '11/22/20'
df2['Date'] = '11/23/20'

In [71]:
# turn into data table
# df1 = df1.set_index(['Date','Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)
# return to normal
# df1 = df1.swaplevel(0,1,axis=1).stack().reset_index()
df1.head()

       Date Code  Res  Rev
0  11/22/20   AR    0  0.0
1  11/22/20   CO    0  0.0
2  11/22/20   CS    0  0.0
3  11/22/20   CT    0  0.0
4  11/22/20  FIX    0  0.0

In [85]:
acts = pd.concat([df1, df2])

In [86]:
# saving initial actuals report
acts.to_csv('../revreports/data/Actuals/2020_seg', index=False)

In [90]:
act_df = pd.read_csv('../revreports/data/Actuals/2020_seg')
act_df.head(20)

    Code  Res      Rev      Date
0     AR    0     0.00  11/22/20
1     CO    0     0.00  11/22/20
2     CS    0     0.00  11/22/20
3     CT    0     0.00  11/22/20
4    FIX    0     0.00  11/22/20
5     GC    0     0.00  11/22/20
6     GE    0     0.00  11/22/20
7     GL    0     0.00  11/22/20
8     GS    0     0.00  11/22/20
9     GV    0     0.00  11/22/20
10   HSE    1    69.00  11/22/20
11   INT    0     0.00  11/22/20
12    NG    1    69.00  11/22/20
13    OP    3   165.00  11/22/20
14    OT   51  4924.94  11/22/20
15    PK    0     0.00  11/22/20
16  PSBY    0     0.00  11/22/20
17    RA    7  1047.00  11/22/20
18    SP   33  3934.00  11/22/20
19    WH    2   130.00  11/22/20

### Appending to the actuals file

In [61]:
actuals = '../revreports/data/Actuals/2020_seg'

In [91]:
df3 = pd.read_csv('../revreports/data/11_25_20/segment_stat.txt', sep="\t", engine='python', skipfooter=2,
                 usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'])
df3.columns = ['Code', 'Res', 'Rev']

In [92]:
df3['Date'] = '11/24/20'

In [93]:
df3.to_csv(actuals, mode='a', header=False, index=False)

In [94]:
df6 = pd.read_csv(actuals)

In [95]:
df6

    Code  Res      Rev      Date
0     AR    0     0.00  11/22/20
1     CO    0     0.00  11/22/20
2     CS    0     0.00  11/22/20
3     CT    0     0.00  11/22/20
4    FIX    0     0.00  11/22/20
5     GC    0     0.00  11/22/20
6     GE    0     0.00  11/22/20
7     GL    0     0.00  11/22/20
8     GS    0     0.00  11/22/20
9     GV    0     0.00  11/22/20
10   HSE    1    69.00  11/22/20
11   INT    0     0.00  11/22/20
12    NG    1    69.00  11/22/20
13    OP    3   165.00  11/22/20
14    OT   51  4924.94  11/22/20
15    PK    0     0.00  11/22/20
16  PSBY    0     0.00  11/22/20
17    RA    7  1047.00  11/22/20
18    SP   33  3934.00  11/22/20
19    WH    2   130.00  11/22/20
20    AR    0     0.00  11/23/20
21    CO    0     0.00  11/23/20
22    CS    0     0.00  11/23/20
23    CT    0     0.00  11/23/20
24   FIX    0     0.00  11/23/20
25    GC    0     0.00  11/23/20
26    GE    0     0.00  11/23/20
27    GL    0     0.00  11/23/20
28    GS    0     0.00  11/23/20
29    GV    0     0.00  11/23/20
30   HSE    0     0.00  11/23/20
31   INT    0     0.00  11/23/20
32    NG    1    69.00  11/23/20
33    OP    1    55.00  11/23/20
34    OT   69  6343.51  11/23/20
35    PK    0     0.00  11/23/20
36  PSBY    0     0.00  11/23/20
37    RA    5   619.00  11/23/20
38    SP   27  3011.40  11/23/20
39    WH    2   130.00  11/23/20
40    AR    0     0.00  11/24/20
41    CO    0     0.00  11/24/20
42    CS    0     0.00  11/24/20
43    CT    0     0.00  11/24/20
44   FIX    0     0.00  11/24/20
45    GC    0     0.00  11/24/20
46    GE    0     0.00  11/24/20
47    GL    0     0.00  11/24/20
48    GS    0     0.00  11/24/20
49    GV    0     0.00  11/24/20
50   HSE    0     0.00  11/24/20
51   INT    0     0.00  11/24/20
52    NG    1    69.00  11/24/20
53    OP    0     0.00  11/24/20
54    OT   70  6429.30  11/24/20
55    PK    0     0.00  11/24/20
56  PSBY    0     0.00  11/24/20
57    RA    3   447.00  11/24/20
58    SP   33  3359.40  11/24/20
59    WH    2   130.00  11/24/20

## Segment Res

In [38]:
df3 = pd.read_csv('../revreports/data/11_23_20/segment_res.txt', sep="\t",
                 usecols=['RESERVATION_DATE', 'MARKET_CODE', 'PRINT_NO_OF_ROOMS', 'TOTAL_REVENUE'],
                engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])

df3.columns = ['Date', 'Code', 'Rev', 'Res']

df4 = pd.read_csv('../revreports/data/11_24_20/segment_res.txt', sep="\t", 
                  usecols=['RESERVATION_DATE', 'MARKET_CODE', 'PRINT_NO_OF_ROOMS', 'TOTAL_REVENUE'],
                 engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])
df4.columns = ['Date', 'Code', 'Rev', 'Res']

In [39]:
df4.head()

        Date Code  Res  Rev
0 2020-11-24   AR    0  0.0
1 2020-11-24   CO    0  0.0
2 2020-11-24   CS    0  0.0
3 2020-11-24   CT    0  0.0
4 2020-11-24  FIX    0  0.0

In [40]:
df5 = pd.concat([df1, df4])

In [47]:
df5.to_csv('Nov_24.csv', index=False)

In [51]:
df6 = pd.read_csv('Nov_24.csv', parse_dates=['Date']).set_index('Date')

In [52]:
df6.head()

           Code  Res  Rev
Date
2020-11-23   AR    0  0.0
2020-11-23   CO    0  0.0
2020-11-23   CS    0  0.0
2020-11-23   CT    0  0.0
2020-11-23  FIX    0  0.0

In [23]:
# transform into table
df3 = df3.set_index(['Date', 'Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)
df4 = df4.set_index(['Date', 'Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)

In [5]:
# look at pickup
(df2 - df.iloc[1:]).head()

Code        AR       CO       CS       CT      FIX       GC       GE       GL  \
           RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES
Date
2020-11-24   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-25   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-26   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-27   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-28   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0

Code             GS       GV      HSE      INT       NG       OP       OT  \
            REV RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES
Date
2020-11-24  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  10
2020-11-25  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   8
2020-11-26  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   4
2020-11-27  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  12
2020-11-28  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  10

Code                PK      PSBY       RA         SP         WH
               REV RES  REV  RES  REV RES    REV RES    REV RES  REV
Date
2020-11-24  643.44   0  0.0    0  0.0   0    0.0   5  426.0   0  0.0
2020-11-25  627.99   0  0.0    0  0.0   0    0.0   1   -9.0   0  0.0
2020-11-26  420.53   0  0.0    0  0.0   0    0.0   0    0.0   0  0.0
2020-11-27  848.12   0  0.0    0  0.0  -1 -159.0   3  190.0   0  0.0
2020-11-28  645.65   0  0.0    0  0.0  -1 -169.0   6  432.0   0  0.0

In [ ]:
# convert back to normal
df = df.swaplevel(0,1, axis=1).stack().reset_index() #.head()
df2 = df2.swaplevel(0,1, axis=1).stack().reset_index() #.head()

## Source Stat

In [100]:
df1 = pd.read_csv('../revreports/data/11_23_20/source_stat.txt', sep="\t",
                  usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'], engine='python', skipfooter=2)
df1.columns = ['Code', 'Res', 'Rev']

In [102]:
df1.tail()

  Code  Res      Rev
2  GDS    0     0.00
3  INT    1    69.00
4  OTA   51  4924.94
5  WEB   28  3448.00
6  WHL    0     0.00

## Source Res

In [105]:
df3 = pd.read_csv('../revreports/data/11_23_20/source_res.txt', sep="\t",
                 usecols=['RESERVATION_DATE', 'MARKET_CODE', 'PRINT_NO_OF_ROOMS', 'TOTAL_REVENUE'],
                engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])

df3.columns = ['Date', 'Code', 'Rev', 'Res']
df3.head()

        Date  Code  Res      Rev
0 2020-11-23  CALL    2   288.00
1 2020-11-23   DIR    5   321.00
2 2020-11-23   GDS    0     0.00
3 2020-11-23   INT    0     0.00
4 2020-11-23   OTA   49  4946.23

## Creating history from excel feeds

In [119]:
# load history file
history = pd.read_excel('../history.xlsx',sheet_name='Feed', usecols=['RESERVATION_DATE','MARKET_CODE', 'PRINT_NO_OF_ROOMS', 'TOTAL_REVENUE'],
                       skipfooter=2, parse_dates=['RESERVATION_DATE'])

history.columns = ['Date', 'Code', 'Rev', 'Res']

In [120]:
# check if datetime conversion worked
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17867 entries, 0 to 17866
Data columns (total 4 columns):
Date    17867 non-null object
Code    17866 non-null object
Rev     17865 non-null float64
Res     17865 non-null float64
dtypes: float64(2), object(2)
memory usage: 558.4+ KB

In [123]:
# if not see where the error is
history['Date'] = pd.to_datetime(history.Date)

In [122]:
# drop na if the error is from extra strings
history = history.dropna()

In [111]:
# insert error string here to get row number of error
history[history.Date == '43817']

       Date Code  Rev  Res
8595  43817   GV  0.0    0
8596  43817  HSE  0.0    0

In [87]:
# drop na if split in middle with headers
history.dropna(inplace=True)

In [112]:
# check surrounding row numbers if it is a date issue
history.loc[8590:8599]

                     Date Code      Rev  Res
8590  2019-12-18 00:00:00  FIX     0.00    0
8591  2019-12-18 00:00:00   GC     0.00    0
8592  2019-12-18 00:00:00   GE     0.00    0
8593  2019-12-18 00:00:00   GL     0.00    0
8594  2019-12-18 00:00:00   GS     0.00    0
8595                43817   GV     0.00    0
8596                43817  HSE     0.00    0
8597  2019-12-18 00:00:00   NG     0.00    0
8598  2019-12-18 00:00:00   OP     0.00    0
8599  2019-12-18 00:00:00   OT  6453.66   35

In [113]:
# set the date of the missing cells
history.loc[8595:8597, 'Date'] = '2019-12-18 00:00:00'

In [124]:
display(history.head())
display(history.tail())

        Date Code      Rev  Res
0 2019-08-01   AR     0.00  0.0
1 2019-08-01   CO     0.00  0.0
2 2019-08-01   CS  1466.64  7.0
3 2019-08-01   CT     0.00  0.0
4 2019-08-01  FIX     0.00  0.0

            Date  Code  Rev  Res
17862 2022-01-31    PK  0.0  0.0
17863 2022-01-31  PSBY  0.0  0.0
17864 2022-01-31    RA  0.0  0.0
17865 2022-01-31    SP  0.0  0.0
17866 2022-01-31    WH  0.0  0.0

In [125]:
# input date filters to pull real actuals from start 
# start_df = history[(history.Date.dt.year == 2019)].copy()
# comment out above and create the end df
# end_df = history[(history.Date.dt.year == 2019)].copy() #& (history.Date.dt.month < 11) & (history.Date.dt.day < 22) ].copy()

In [134]:
# check your new start df for overlapping days 
display(start_df.head())
display(start_df.tail())
display(start_df.Date.nunique())
start_df.Date.value_counts().max()

           Date Code  Rev  Res
2363 2019-01-01   CO  0.0    0
2364 2019-01-01   CS  0.0    0
2365 2019-01-01   CT  0.0    0
2366 2019-01-01  FIX  0.0    0
2367 2019-01-01   GC  0.0    0

           Date Code       Rev  Res
5962 2019-07-31   OT  27638.71  127
5963 2019-07-31   PK    604.50    3
5964 2019-07-31   RA      0.00    0
5965 2019-07-31   SP   8585.54   39
5966 2019-07-31   WH   1592.00    8

212

17

In [135]:
# check your end df for overlapping days
display(end_df.head())
display(end_df.tail())
display(end_df.Date.nunique())
end_df.Date.value_counts().max()

        Date Code      Rev  Res
0 2019-08-01   AR     0.00  0.0
1 2019-08-01   CO     0.00  0.0
2 2019-08-01   CS  1466.64  7.0
3 2019-08-01   CT     0.00  0.0
4 2019-08-01  FIX     0.00  0.0

           Date  Code       Rev   Res
2902 2019-12-31    PK      0.00   0.0
2903 2019-12-31  PSBY      0.00   0.0
2904 2019-12-31    RA      0.00   0.0
2905 2019-12-31    SP  15962.89  37.0
2906 2019-12-31    WH  11869.52  35.0

153

19

In [130]:
# cut off any overlapping dates once you have a start and end df
start_df.Date.nunique() + end_df.Date.nunique()

# start_df = start_df[start_df.Date.dt.month < 8]

365

In [131]:
# concat the two dataframes
full_year = pd.concat([start_df, end_df])

In [133]:
# check the date range and overlaps
display(full_year.head())
display(full_year.tail())
display(full_year.Date.value_counts().max())
full_year.Date.nunique()

           Date Code  Rev  Res
2363 2019-01-01   CO  0.0  0.0
2364 2019-01-01   CS  0.0  0.0
2365 2019-01-01   CT  0.0  0.0
2366 2019-01-01  FIX  0.0  0.0
2367 2019-01-01   GC  0.0  0.0

           Date  Code       Rev   Res
2902 2019-12-31    PK      0.00   0.0
2903 2019-12-31  PSBY      0.00   0.0
2904 2019-12-31    RA      0.00   0.0
2905 2019-12-31    SP  15962.89  37.0
2906 2019-12-31    WH  11869.52  35.0

19

365

In [136]:
# EDIT THIS FILE NAME to save it as a csv
file = '../actuals_2019.csv'

In [137]:
full_year.to_csv(file, index=False)

In [138]:
load = pd.read_csv(file)

In [140]:
# load the file and check
display(load.info())
display(load.head())
display(load.tail())
display(load.Date.nunique())
display(load.Date.value_counts().max())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6511 entries, 0 to 6510
Data columns (total 4 columns):
Date    6511 non-null object
Code    6511 non-null object
Rev     6511 non-null float64
Res     6511 non-null float64
dtypes: float64(2), object(2)
memory usage: 203.5+ KB

None

         Date Code  Rev  Res
0  2019-01-01   CO  0.0  0.0
1  2019-01-01   CS  0.0  0.0
2  2019-01-01   CT  0.0  0.0
3  2019-01-01  FIX  0.0  0.0
4  2019-01-01   GC  0.0  0.0

            Date  Code       Rev   Res
6506  2019-12-31    PK      0.00   0.0
6507  2019-12-31  PSBY      0.00   0.0
6508  2019-12-31    RA      0.00   0.0
6509  2019-12-31    SP  15962.89  37.0
6510  2019-12-31    WH  11869.52  35.0

365

19

# Sandbox

In [159]:
act = pd.read_csv('../actuals.csv')
seven = pd.read_csv('../otb-11-23.csv')
one = pd.read_csv('../otb-11-26.csv')
today = pd.read_csv('../otb-11-27.csv')

In [160]:
act.Date = pd.to_datetime(act.Date)
seven.Date = pd.to_datetime(seven.Date)
one.Date = pd.to_datetime(one.Date)
today.Date = pd.to_datetime(today.Date)

In [161]:
codes = ['GS', 'SP', 'HSE', 'GE', 'PK', 'OT', 'RA', 'GC', 'GV', 'CO', 'WH', 'GL', 'CS', 'NG', 'OP']

act = act[act.Code.isin(codes)].reset_index(drop=True)
seven = seven[seven.Code.isin(codes)].reset_index(drop=True)
one = one[one.Code.isin(codes)].reset_index(drop=True)
today = today[today.Code.isin(codes)].reset_index(drop=True)

In [140]:
seven.head()

  Code       Date  Res  Rev  index
0   CO 2020-01-01  0.0  0.0    NaN
1   CS 2020-01-01  0.0  0.0    NaN
2   GC 2020-01-01  0.0  0.0    NaN
3   GE 2020-01-01  0.0  0.0    NaN
4   GL 2020-01-01  0.0  0.0    NaN

In [11]:
seven.loc[0]['Date']

Timestamp('2020-11-23 00:00:00')

In [162]:
seven = pd.concat([act[act.Date < seven.loc[0]['Date']], seven])
one = pd.concat([act[act.Date < one.loc[0]['Date']], one])
today = pd.concat([act[act.Date < today.loc[0]['Date']], today])

In [148]:
seven.head()

        Date Code  Rev  Res
0 2020-01-01   CO  0.0  0.0
1 2020-01-01   CS  0.0  0.0
2 2020-01-01   GC  0.0  0.0
3 2020-01-01   GE  0.0  0.0
4 2020-01-01   GL  0.0  0.0

In [149]:
today.Date.nunique()

762

In [107]:
one.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11430 entries, 1 to 8639
Data columns (total 4 columns):
Date    11430 non-null datetime64[ns]
Code    11430 non-null object
Rev     11430 non-null float64
Res     11430 non-null float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 446.5+ KB

In [64]:
today.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14967 entries, 0 to 8619
Data columns (total 4 columns):
Date    14967 non-null datetime64[ns]
Code    14967 non-null object
Rev     14967 non-null float64
Res     14967 non-null float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 584.6+ KB

In [ ]:
today

In [150]:
seven = seven.set_index(['Date', 'Code'])
one = one.set_index(['Date', 'Code'])
today = today.set_index(['Date', 'Code'])

In [69]:
seven.reset_index(inplace=True)
one.reset_index(inplace=True)

In [112]:
today.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11430 entries, 1 to 8619
Data columns (total 4 columns):
Date    11430 non-null datetime64[ns]
Code    11430 non-null object
Rev     11430 non-null float64
Res     11430 non-null float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 446.5+ KB

In [163]:
test = one.merge(seven, on=['Date', 'Code'], suffixes=['_o', '_s'])\
            .merge(today, on=['Date', 'Code'], suffixes=['', '_t'])

In [164]:
test.head()

        Date Code  Rev_o  Res_o  Rev_s  Res_s  Rev  Res
0 2020-01-01   CO    0.0    0.0    0.0    0.0  0.0  0.0
1 2020-01-01   CS    0.0    0.0    0.0    0.0  0.0  0.0
2 2020-01-01   GC    0.0    0.0    0.0    0.0  0.0  0.0
3 2020-01-01   GE    0.0    0.0    0.0    0.0  0.0  0.0
4 2020-01-01   GL    0.0    0.0    0.0    0.0  0.0  0.0

In [165]:
test['res_pu_one'] = test.Res - test.Res_o
test['rev_pu_one'] = test.Rev - test.Rev_o
test['res_pu_sev'] = test.Res - test.Res_s
test['rev_pu_sev'] = test.Rev - test.Rev_s
test['adr_pu_one'] = test.rev_pu_one / test.res_pu_one
test['adr_pu_sev'] = test.rev_pu_sev / test.res_pu_sev
test['Adr'] = test.Rev / test.Res

In [166]:
show = test[["Date", 'Code','Res', 'Adr', 'Rev', 'res_pu_one', 'adr_pu_one', 'rev_pu_one', 
             'res_pu_sev', 'adr_pu_sev','rev_pu_sev']]

In [170]:
show[(show.Date.dt.month == 11) & (show.Date.dt.year == 2020)]

,Date,Code,Res,Adr,Rev,res_pu_one,adr_pu_one,rev_pu_one,res_pu_sev,adr_pu_sev,rev_pu_sev
4575,2020-11-01,CO,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4576,2020-11-01,CS,1.0,99.000000,99.00,0.0,NaN,0.00,0.0,NaN,0.00
4577,2020-11-01,GC,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4578,2020-11-01,GE,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4579,2020-11-01,GL,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4580,2020-11-01,GS,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4581,2020-11-01,GV,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4582,2020-11-01,HSE,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4583,2020-11-01,NG,3.0,85.666667,257.00,0.0,NaN,0.00,0.0,NaN,0.00
4584,2020-11-01,OP,2.0,35.000000,70.00,0.0,NaN,0.00,0.0,NaN,0.00
4585,2020-11-01,OT,89.0,95.699888,8517.29,0.0,NaN,0.00,0.0,NaN,0.00
4586,2020-11-01,PK,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4587,2020-11-01,RA,17.0,108.882353,1851.00,0.0,NaN,0.00,0.0,NaN,0.00
4588,2020-11-01,SP,29.0,115.206897,3341.00,0.0,NaN,0.00,0.0,NaN,0.00
4589,2020-11-01,WH,4.0,70.000000,280.00,0.0,NaN,0.00,0.0,NaN,0.00
4590,2020-11-02,CO,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4591,2020-11-02,CS,1.0,99.000000,99.00,0.0,NaN,0.00,0.0,NaN,0.00
4592,2020-11-02,GC,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4593,2020-11-02,GE,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4594,2020-11-02,GL,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4595,2020-11-02,GS,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4596,2020-11-02,GV,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4597,2020-11-02,HSE,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4598,2020-11-02,NG,1.0,69.000000,69.00,0.0,NaN,0.00,0.0,NaN,0.00
4599,2020-11-02,OP,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4600,2020-11-02,OT,73.0,95.695753,6985.79,0.0,NaN,0.00,0.0,NaN,0.00
4601,2020-11-02,PK,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4602,2020-11-02,RA,10.0,130.900000,1309.00,0.0,NaN,0.00,0.0,NaN,0.00
4603,2020-11-02,SP,15.0,111.571333,1673.57,0.0,NaN,0.00,0.0,NaN,0.00
4604,2020-11-02,WH,1.0,65.000000,65.00,0.0,NaN,0.00,0.0,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...
4995,2020-11-29,CO,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4996,2020-11-29,CS,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4997,2020-11-29,GC,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4998,2020-11-29,GE,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
4999,2020-11-29,GL,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5000,2020-11-29,GS,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5001,2020-11-29,GV,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5002,2020-11-29,HSE,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5003,2020-11-29,NG,2.0,104.000000,208.00,0.0,NaN,0.00,1.0,69.000000,69.00
5004,2020-11-29,OP,1.0,55.000000,55.00,0.0,NaN,0.00,0.0,NaN,0.00
5005,2020-11-29,OT,59.0,95.267627,5620.79,0.0,-inf,-64.94,16.0,77.288125,1236.61
5006,2020-11-29,PK,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5007,2020-11-29,RA,1.0,169.000000,169.00,0.0,NaN,0.00,0.0,NaN,0.00
5008,2020-11-29,SP,30.0,115.700000,3471.00,1.0,111.000,111.00,9.0,92.222222,830.00
5009,2020-11-29,WH,3.0,122.516667,367.55,0.0,NaN,0.00,-1.0,69.000000,-69.00
5010,2020-11-30,CO,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5011,2020-11-30,CS,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5012,2020-11-30,GC,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5013,2020-11-30,GE,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5014,2020-11-30,GL,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5015,2020-11-30,GS,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5016,2020-11-30,GV,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5017,2020-11-30,HSE,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5018,2020-11-30,NG,2.0,104.000000,208.00,0.0,NaN,0.00,1.0,69.000000,69.00
5019,2020-11-30,OP,1.0,55.000000,55.00,0.0,NaN,0.00,0.0,NaN,0.00
5020,2020-11-30,OT,45.0,98.290444,4423.07,5.0,84.156,420.78,14.0,80.564286,1127.90
5021,2020-11-30,PK,0.0,NaN,0.00,0.0,NaN,0.00,0.0,NaN,0.00
5022,2020-11-30,RA,2.0,149.000000,298.00,0.0,NaN,0.00,1.0,129.000000,129.00
5023,2020-11-30,SP,13.0,116.623077,1516.10,1.0,125.000,125.00,9.0,104.566667,941.10
5024,2020-11-30,WH,3.0,125.683333,377.05,0.0,NaN,0.00,0.0,NaN,0.00

In [80]:
display(one.tail())
test.tail()

            Date  Code  Rev  Res
14962 2022-01-31    PK  0.0  0.0
14963 2022-01-31  PSBY  0.0  0.0
14964 2022-01-31    RA  0.0  0.0
14965 2022-01-31    SP  0.0  0.0
14966 2022-01-31    WH  0.0  0.0

            Date  Code  Rev_o  Res_o  Rev_s  Res_s  Rev  Res
14968 2022-01-31    PK    0.0    0.0    0.0    0.0  0.0  0.0
14969 2022-01-31  PSBY    0.0    0.0    0.0    0.0  0.0  0.0
14970 2022-01-31    RA    0.0    0.0    0.0    0.0  0.0  0.0
14971 2022-01-31    SP    0.0    0.0    0.0    0.0  0.0  0.0
14972 2022-01-31    WH    0.0    0.0    0.0    0.0  0.0  0.0

In [91]:
.Date.nunique()

762

In [104]:
Code.value_counts()

GS     762
SP     762
NG     762
CS     762
GL     762
WH     762
CO     762
GV     762
GC     762
RA     762
OT     762
PK     762
GE     762
HSE    762
OP     762
Name: Code, dtype: int64

In [57]:
one.tail()

            Date  Code  Rev  Res
14962 2022-01-31    PK  0.0  0.0
14963 2022-01-31  PSBY  0.0  0.0
14964 2022-01-31    RA  0.0  0.0
14965 2022-01-31    SP  0.0  0.0
14966 2022-01-31    WH  0.0  0.0

In [54]:
test.loc[7250:7270]

           Date  Code    Rev  Res
7250 2021-01-19    AR    0.0  0.0
7251 2021-01-19    CO    0.0  0.0
7252 2021-01-19    CS    0.0  0.0
7253 2021-01-19    CT    0.0  0.0
7254 2021-01-19   FIX    0.0  0.0
7255 2021-01-19    GC    0.0  0.0
7256 2021-01-19    GE    0.0  0.0
7257 2021-01-19    GL    0.0  0.0
7258 2021-01-19    GS    0.0  0.0
7259 2021-01-19    GV    0.0  0.0
7260 2021-01-19   HSE    0.0  0.0
7261 2021-01-19   INT    0.0  0.0
7262 2021-01-19    NG    0.0  0.0
7263 2021-01-19    OP    0.0  0.0
7264 2021-01-19    PK    0.0  0.0
7265 2021-01-19  PSBY    0.0  0.0
7266 2021-01-19    RA    0.0  0.0
7267 2021-01-19    SP  139.0  1.0
7268 2021-01-19    WH  130.0  2.0
7269 2021-01-20    AR    0.0  0.0
7270 2021-01-20    CO    0.0  0.0

In [42]:
test.head()

   Rev  Res
0  0.0  0.0
1  0.0  0.0
2  0.0  0.0
3  0.0  0.0
4  0.0  0.0

In [33]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14969 entries, 0 to 14968
Data columns (total 6 columns):
Date     14969 non-null datetime64[ns]
Code     14969 non-null object
Rev_x    14969 non-null float64
Res_x    14969 non-null float64
Rev_y    14969 non-null float64
Res_y    14969 non-null float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 818.6+ KB

In [34]:
test.head()

        Date Code  Rev_x  Res_x  Rev_y  Res_y
0 2020-01-01   AR    0.0    0.0    0.0    0.0
1 2020-01-01   CO    0.0    0.0    0.0    0.0
2 2020-01-01   CS    0.0    0.0    0.0    0.0
3 2020-01-01   CT    0.0    0.0    0.0    0.0
4 2020-01-01  FIX    0.0    0.0    0.0    0.0

In [35]:
test.tail()

            Date  Code  Rev_x  Res_x  Rev_y  Res_y
14964 2022-01-31    PK    0.0    0.0    0.0    0.0
14965 2022-01-31  PSBY    0.0    0.0    0.0    0.0
14966 2022-01-31    RA    0.0    0.0    0.0    0.0
14967 2022-01-31    SP    0.0    0.0    0.0    0.0
14968 2022-01-31    WH    0.0    0.0    0.0    0.0

In [36]:
one.tail()

           Date  Code  Rev  Res
8635 2022-01-31    PK  0.0  0.0
8636 2022-01-31  PSBY  0.0  0.0
8637 2022-01-31    RA  0.0  0.0
8638 2022-01-31    SP  0.0  0.0
8639 2022-01-31    WH  0.0  0.0

In [37]:
seven.tail()

           Date  Code  Rev  Res
8695 2022-01-31    PK  0.0  0.0
8696 2022-01-31  PSBY  0.0  0.0
8697 2022-01-31    RA  0.0  0.0
8698 2022-01-31    SP  0.0  0.0
8699 2022-01-31    WH  0.0  0.0

In [38]:
8639 + 8699

17338

## Importing sublime

In [40]:
%load_ext autoreload
%autoreload 2
from revreports.lib import convert_seg_stat, convert_seg_res

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
import datetime

In [42]:
convert_seg_res('11-26-20')

In [29]:
x = datetime.datetime.today().strftime('%m-%d-%y')

In [30]:
x

'11-27-20'

In [39]:
df = convert_seg_stat()

In [37]:
df.tail()

         Date  Code   Rev  Res
15 2020-11-25    PK     0    0
16 2020-11-25  PSBY     0    0
17 2020-11-25    RA   397    3
18 2020-11-25    SP  3973   38
19 2020-11-25    WH    65    1

In [14]:
df['Date'] = df['Date'] - pd.DateOffset(1)

In [15]:
df.head()

        Date Code  Rev  Res
0 2020-11-25   AR    0    0
1 2020-11-25   CO    0    0
2 2020-11-25   CS    0    0
3 2020-11-25   CT    0    0
4 2020-11-25  FIX    0    0