In [1]:
# /Users/chriswesterman/Library/Jupyter/nbextensions/snippets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 50)

# Data Manipulation

## Segment Stat

In [83]:
df1 = pd.read_csv('../revreports/data/11_23_20/segment_stat.txt', sep="\t", 
                usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'], engine='python', skipfooter=2)
df1.columns = ['Code', 'Res', 'Rev']

df2 = pd.read_csv('../revreports/data/11_24_20/segment_stat.txt', sep="\t", engine='python', skipfooter=2,
                 usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'])
df2.columns = ['Code', 'Res', 'Rev']

In [84]:
df1['Date'] = '11/22/20'
df2['Date'] = '11/23/20'

In [71]:
# turn into data table
# df1 = df1.set_index(['Date','Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)
# return to normal
# df1 = df1.swaplevel(0,1,axis=1).stack().reset_index()
df1.head()

       Date Code  Res  Rev
0  11/22/20   AR    0  0.0
1  11/22/20   CO    0  0.0
2  11/22/20   CS    0  0.0
3  11/22/20   CT    0  0.0
4  11/22/20  FIX    0  0.0

In [85]:
acts = pd.concat([df1, df2])

In [86]:
# saving initial actuals report
acts.to_csv('../revreports/data/Actuals/2020_seg', index=False)

In [90]:
act_df = pd.read_csv('../revreports/data/Actuals/2020_seg')
act_df.head(20)

    Code  Res      Rev      Date
0     AR    0     0.00  11/22/20
1     CO    0     0.00  11/22/20
2     CS    0     0.00  11/22/20
3     CT    0     0.00  11/22/20
4    FIX    0     0.00  11/22/20
5     GC    0     0.00  11/22/20
6     GE    0     0.00  11/22/20
7     GL    0     0.00  11/22/20
8     GS    0     0.00  11/22/20
9     GV    0     0.00  11/22/20
10   HSE    1    69.00  11/22/20
11   INT    0     0.00  11/22/20
12    NG    1    69.00  11/22/20
13    OP    3   165.00  11/22/20
14    OT   51  4924.94  11/22/20
15    PK    0     0.00  11/22/20
16  PSBY    0     0.00  11/22/20
17    RA    7  1047.00  11/22/20
18    SP   33  3934.00  11/22/20
19    WH    2   130.00  11/22/20

### Appending to the actuals file

In [61]:
actuals = '../revreports/data/Actuals/2020_seg'

In [91]:
df3 = pd.read_csv('../revreports/data/11_25_20/segment_stat.txt', sep="\t", engine='python', skipfooter=2,
                 usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'])
df3.columns = ['Code', 'Res', 'Rev']

In [92]:
df3['Date'] = '11/24/20'

In [93]:
df3.to_csv(actuals, mode='a', header=False, index=False)

In [94]:
df6 = pd.read_csv(actuals)

In [95]:
df6

    Code  Res      Rev      Date
0     AR    0     0.00  11/22/20
1     CO    0     0.00  11/22/20
2     CS    0     0.00  11/22/20
3     CT    0     0.00  11/22/20
4    FIX    0     0.00  11/22/20
5     GC    0     0.00  11/22/20
6     GE    0     0.00  11/22/20
7     GL    0     0.00  11/22/20
8     GS    0     0.00  11/22/20
9     GV    0     0.00  11/22/20
10   HSE    1    69.00  11/22/20
11   INT    0     0.00  11/22/20
12    NG    1    69.00  11/22/20
13    OP    3   165.00  11/22/20
14    OT   51  4924.94  11/22/20
15    PK    0     0.00  11/22/20
16  PSBY    0     0.00  11/22/20
17    RA    7  1047.00  11/22/20
18    SP   33  3934.00  11/22/20
19    WH    2   130.00  11/22/20
20    AR    0     0.00  11/23/20
21    CO    0     0.00  11/23/20
22    CS    0     0.00  11/23/20
23    CT    0     0.00  11/23/20
24   FIX    0     0.00  11/23/20
25    GC    0     0.00  11/23/20
26    GE    0     0.00  11/23/20
27    GL    0     0.00  11/23/20
28    GS    0     0.00  11/23/20
29    GV    0     0.00  11/23/20
30   HSE    0     0.00  11/23/20
31   INT    0     0.00  11/23/20
32    NG    1    69.00  11/23/20
33    OP    1    55.00  11/23/20
34    OT   69  6343.51  11/23/20
35    PK    0     0.00  11/23/20
36  PSBY    0     0.00  11/23/20
37    RA    5   619.00  11/23/20
38    SP   27  3011.40  11/23/20
39    WH    2   130.00  11/23/20
40    AR    0     0.00  11/24/20
41    CO    0     0.00  11/24/20
42    CS    0     0.00  11/24/20
43    CT    0     0.00  11/24/20
44   FIX    0     0.00  11/24/20
45    GC    0     0.00  11/24/20
46    GE    0     0.00  11/24/20
47    GL    0     0.00  11/24/20
48    GS    0     0.00  11/24/20
49    GV    0     0.00  11/24/20
50   HSE    0     0.00  11/24/20
51   INT    0     0.00  11/24/20
52    NG    1    69.00  11/24/20
53    OP    0     0.00  11/24/20
54    OT   70  6429.30  11/24/20
55    PK    0     0.00  11/24/20
56  PSBY    0     0.00  11/24/20
57    RA    3   447.00  11/24/20
58    SP   33  3359.40  11/24/20
59    WH    2   130.00  11/24/20

## Segment Res

In [38]:
df3 = pd.read_csv('../revreports/data/11_23_20/segment_res.txt', sep="\t",
                 usecols=['RESERVATION_DATE', 'MARKET_CODE', 'PRINT_NO_OF_ROOMS', 'TOTAL_REVENUE'],
                engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])

df3.columns = ['Date', 'Code', 'Rev', 'Res']

df4 = pd.read_csv('../revreports/data/11_24_20/segment_res.txt', sep="\t", 
                  usecols=['RESERVATION_DATE', 'MARKET_CODE', 'PRINT_NO_OF_ROOMS', 'TOTAL_REVENUE'],
                 engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])
df4.columns = ['Date', 'Code', 'Rev', 'Res']

In [39]:
df4.head()

        Date Code  Res  Rev
0 2020-11-24   AR    0  0.0
1 2020-11-24   CO    0  0.0
2 2020-11-24   CS    0  0.0
3 2020-11-24   CT    0  0.0
4 2020-11-24  FIX    0  0.0

In [40]:
df5 = pd.concat([df1, df4])

In [47]:
df5.to_csv('Nov_24.csv', index=False)

In [51]:
df6 = pd.read_csv('Nov_24.csv', parse_dates=['Date']).set_index('Date')

In [52]:
df6.head()

           Code  Res  Rev
Date
2020-11-23   AR    0  0.0
2020-11-23   CO    0  0.0
2020-11-23   CS    0  0.0
2020-11-23   CT    0  0.0
2020-11-23  FIX    0  0.0

In [23]:
# transform into table
df3 = df3.set_index(['Date', 'Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)
df4 = df4.set_index(['Date', 'Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)

In [5]:
# look at pickup
(df2 - df.iloc[1:]).head()

Code        AR       CO       CS       CT      FIX       GC       GE       GL  \
           RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES
Date
2020-11-24   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-25   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-26   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-27   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-28   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0

Code             GS       GV      HSE      INT       NG       OP       OT  \
            REV RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES
Date
2020-11-24  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  10
2020-11-25  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   8
2020-11-26  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   4
2020-11-27  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  12
2020-11-28  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  10

Code                PK      PSBY       RA         SP         WH
               REV RES  REV  RES  REV RES    REV RES    REV RES  REV
Date
2020-11-24  643.44   0  0.0    0  0.0   0    0.0   5  426.0   0  0.0
2020-11-25  627.99   0  0.0    0  0.0   0    0.0   1   -9.0   0  0.0
2020-11-26  420.53   0  0.0    0  0.0   0    0.0   0    0.0   0  0.0
2020-11-27  848.12   0  0.0    0  0.0  -1 -159.0   3  190.0   0  0.0
2020-11-28  645.65   0  0.0    0  0.0  -1 -169.0   6  432.0   0  0.0

In [ ]:
# convert back to normal
df = df.swaplevel(0,1, axis=1).stack().reset_index() #.head()
df2 = df2.swaplevel(0,1, axis=1).stack().reset_index() #.head()

## Source Stat

In [100]:
df1 = pd.read_csv('../revreports/data/11_23_20/source_stat.txt', sep="\t",
                  usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'], engine='python', skipfooter=2)
df1.columns = ['Code', 'Res', 'Rev']

In [102]:
df1.tail()

  Code  Res      Rev
2  GDS    0     0.00
3  INT    1    69.00
4  OTA   51  4924.94
5  WEB   28  3448.00
6  WHL    0     0.00

## Source Res

In [105]:
df3 = pd.read_csv('../revreports/data/11_23_20/source_res.txt', sep="\t",
                 usecols=['RESERVATION_DATE', 'MARKET_CODE', 'PRINT_NO_OF_ROOMS', 'TOTAL_REVENUE'],
                engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])

df3.columns = ['Date', 'Code', 'Rev', 'Res']
df3.head()

        Date  Code  Res      Rev
0 2020-11-23  CALL    2   288.00
1 2020-11-23   DIR    5   321.00
2 2020-11-23   GDS    0     0.00
3 2020-11-23   INT    0     0.00
4 2020-11-23   OTA   49  4946.23

## Creating history from excel feeds

In [95]:
# load history file
history = pd.read_excel('history.xlsx',sheet_name='Seg_Feed', usecols=['RESERVATION_DATE','MARKET_CODE', 'PRINT_NO_OF_ROOMS', 'TOTAL_REVENUE'],
                       skipfooter=2, parse_dates=['RESERVATION_DATE'])

history.columns = ['Date', 'Code', 'Rev', 'Res']

In [118]:
# check if datetime conversion worked
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10919 entries, 0 to 10918
Data columns (total 4 columns):
Date    10919 non-null datetime64[ns]
Code    10919 non-null object
Rev     9760 non-null float64
Res     9760 non-null float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 341.3+ KB

In [88]:
# if not see where the error is
history['Date'] = pd.to_datetime(history.Date)

In [85]:
# insert error string here to get row number of error
history[history.Date == 'S_DEF_ROOM_REPORT']

                    Date  Code  Rev  Res
17266  S_DEF_ROOM_REPORT  LOGO  NaN  NaN

In [87]:
# drop na if split in middle with headers
history.dropna(inplace=True)

In [119]:
# check surrounding row numbers if it is a date issue
history.loc[17264:17268]

Empty DataFrame
Columns: [Date, Code, Rev, Res]
Index: []

In [62]:
# set the date of the missing cells
history.loc[8595:8596, 'Date'] = 'paste date here'

In [97]:
# input date filters to pull real actuals from start 
start_df = history[(history.Date.dt.year == 2020) & (history.Date.dt.month < 11) & (history.Date.dt.day < 22) ].copy()
# comment out above and create the end df
# end_df = history[(history.Date.dt.year == 2020) & (history.Date.dt.month < 11) & (history.Date.dt.day < 22) ].copy()

In [122]:
# check the df
display(start_df.head())
start_df.tail()

# display(end_df.head())
# end_df.tail()

NameError: name 'start_df' is not defined

In [104]:
# concat the two dataframes
full_year = pd.concat([start_df, end_df])

In [105]:
# check the date range
display(full_year.head())
full_year.tail()

           Date  Code      Rev   Res
1574 2020-10-21    PK     0.00   0.0
1575 2020-10-21  PSBY     0.00   0.0
1576 2020-10-21    RA  1449.00  12.0
1577 2020-10-21    SP  3082.65  24.0
1578 2020-10-21    WH   260.00   4.0

In [129]:
# edit file name and save it as a csv
file = '../actuals_2020.csv'
full_year.to_csv(file, index=False)

In [127]:
load = pd.read_csv(file)

In [128]:
# load the file and check
display(load.info())
display(load.head())
load.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5627 entries, 0 to 5626
Data columns (total 4 columns):
Date    5627 non-null object
Code    5627 non-null object
Rev     5627 non-null float64
Res     5627 non-null float64
dtypes: float64(2), object(2)
memory usage: 175.9+ KB

None

         Date Code  Rev  Res
0  2020-01-01   AR  0.0  0.0
1  2020-01-01   CO  0.0  0.0
2  2020-01-01   CS  0.0  0.0
3  2020-01-01   CT  0.0  0.0
4  2020-01-01  FIX  0.0  0.0

            Date  Code      Rev   Res
5622  2020-10-21    PK     0.00   0.0
5623  2020-10-21  PSBY     0.00   0.0
5624  2020-10-21    RA  1449.00  12.0
5625  2020-10-21    SP  3082.65  24.0
5626  2020-10-21    WH   260.00   4.0

# Sandbox

In [137]:
loader = pd.read_csv('../nov22.csv')

In [139]:
loader.drop(columns="Unnamed: 0", inplace=True)

In [141]:
loader.Date = pd.to_datetime(loader.Date)

In [142]:
loader.head()

  Code  Res  Rev       Date
0   AR    0  0.0 2020-11-22
1   CO    0  0.0 2020-11-22
2   CS    0  0.0 2020-11-22
3   CT    0  0.0 2020-11-22
4  FIX    0  0.0 2020-11-22

In [145]:
df = loader[['Date', 'Code', 'Rev', 'Res']]

In [146]:
df.head()

        Date Code  Rev  Res
0 2020-11-22   AR  0.0    0
1 2020-11-22   CO  0.0    0
2 2020-11-22   CS  0.0    0
3 2020-11-22   CT  0.0    0
4 2020-11-22  FIX  0.0    0

In [152]:
df.to_csv('../nov22.csv', index=False, header=False)

In [153]:
loadd = pd.read_csv('../nov22.csv', header=None)

In [155]:
loadd.tail()

             0     1       2   3
55  2020-11-24    PK     0.0   0
56  2020-11-24  PSBY     0.0   0
57  2020-11-24    RA   447.0   3
58  2020-11-24    SP  3359.4  33
59  2020-11-24    WH   130.0   2

In [156]:
loadddd = pd.read_csv('../actuals.csv')

In [160]:
loadddd.tail(50)

            Date  Code      Rev   Res
5637  2020-11-22   HSE    69.00   1.0
5638  2020-11-22   INT     0.00   0.0
5639  2020-11-22    NG    69.00   1.0
5640  2020-11-22    OP   165.00   3.0
5641  2020-11-22    OT  4924.94  51.0
5642  2020-11-22    PK     0.00   0.0
5643  2020-11-22  PSBY     0.00   0.0
5644  2020-11-22    RA  1047.00   7.0
5645  2020-11-22    SP  3934.00  33.0
5646  2020-11-22    WH   130.00   2.0
5647  2020-11-23    AR     0.00   0.0
5648  2020-11-23    CO     0.00   0.0
5649  2020-11-23    CS     0.00   0.0
5650  2020-11-23    CT     0.00   0.0
5651  2020-11-23   FIX     0.00   0.0
5652  2020-11-23    GC     0.00   0.0
5653  2020-11-23    GE     0.00   0.0
5654  2020-11-23    GL     0.00   0.0
5655  2020-11-23    GS     0.00   0.0
5656  2020-11-23    GV     0.00   0.0
5657  2020-11-23   HSE     0.00   0.0
5658  2020-11-23   INT     0.00   0.0
5659  2020-11-23    NG    69.00   1.0
5660  2020-11-23    OP    55.00   1.0
5661  2020-11-23    OT  6343.51  69.0
5662  2020-11-23    PK     0.00   0.0
5663  2020-11-23  PSBY     0.00   0.0
5664  2020-11-23    RA   619.00   5.0
5665  2020-11-23    SP  3011.40  27.0
5666  2020-11-23    WH   130.00   2.0
5667  2020-11-24    AR     0.00   0.0
5668  2020-11-24    CO     0.00   0.0
5669  2020-11-24    CS     0.00   0.0
5670  2020-11-24    CT     0.00   0.0
5671  2020-11-24   FIX     0.00   0.0
5672  2020-11-24    GC     0.00   0.0
5673  2020-11-24    GE     0.00   0.0
5674  2020-11-24    GL     0.00   0.0
5675  2020-11-24    GS     0.00   0.0
5676  2020-11-24    GV     0.00   0.0
5677  2020-11-24   HSE     0.00   0.0
5678  2020-11-24   INT     0.00   0.0
5679  2020-11-24    NG    69.00   1.0
5680  2020-11-24    OP     0.00   0.0
5681  2020-11-24    OT  6429.30  70.0
5682  2020-11-24    PK     0.00   0.0
5683  2020-11-24  PSBY     0.00   0.0
5684  2020-11-24    RA   447.00   3.0
5685  2020-11-24    SP  3359.40  33.0
5686  2020-11-24    WH   130.00   2.0