In [53]:
# /Users/chriswesterman/Library/Jupyter/nbextensions/snippets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 50)

# Data Manipulation

## Segment Stat

In [83]:
df1 = pd.read_csv('../revreports/data/11_23_20/segment_stat.txt', sep="\t", 
                usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'], engine='python', skipfooter=2)
df1.columns = ['Code', 'Res', 'Rev']

df2 = pd.read_csv('../revreports/data/11_24_20/segment_stat.txt', sep="\t", engine='python', skipfooter=2,
                 usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'])
df2.columns = ['Code', 'Res', 'Rev']

In [84]:
df1['Date'] = '11/22/20'
df2['Date'] = '11/23/20'

In [71]:
# turn into data table
# df1 = df1.set_index(['Date','Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)
# return to normal
# df1 = df1.swaplevel(0,1,axis=1).stack().reset_index()
df1.head()

       Date Code  Res  Rev
0  11/22/20   AR    0  0.0
1  11/22/20   CO    0  0.0
2  11/22/20   CS    0  0.0
3  11/22/20   CT    0  0.0
4  11/22/20  FIX    0  0.0

In [85]:
acts = pd.concat([df1, df2])

In [86]:
# saving initial actuals report
acts.to_csv('../revreports/data/Actuals/2020_seg', index=False)

In [90]:
act_df = pd.read_csv('../revreports/data/Actuals/2020_seg')
act_df.head(20)

    Code  Res      Rev      Date
0     AR    0     0.00  11/22/20
1     CO    0     0.00  11/22/20
2     CS    0     0.00  11/22/20
3     CT    0     0.00  11/22/20
4    FIX    0     0.00  11/22/20
5     GC    0     0.00  11/22/20
6     GE    0     0.00  11/22/20
7     GL    0     0.00  11/22/20
8     GS    0     0.00  11/22/20
9     GV    0     0.00  11/22/20
10   HSE    1    69.00  11/22/20
11   INT    0     0.00  11/22/20
12    NG    1    69.00  11/22/20
13    OP    3   165.00  11/22/20
14    OT   51  4924.94  11/22/20
15    PK    0     0.00  11/22/20
16  PSBY    0     0.00  11/22/20
17    RA    7  1047.00  11/22/20
18    SP   33  3934.00  11/22/20
19    WH    2   130.00  11/22/20

### Appending to the actuals file

In [61]:
actuals = '../revreports/data/Actuals/2020_seg'

In [91]:
df3 = pd.read_csv('../revreports/data/11_25_20/segment_stat.txt', sep="\t", engine='python', skipfooter=2,
                 usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'])
df3.columns = ['Code', 'Res', 'Rev']

In [92]:
df3['Date'] = '11/24/20'

In [93]:
df3.to_csv(actuals, mode='a', header=False, index=False)

In [94]:
df6 = pd.read_csv(actuals)

In [95]:
df6

    Code  Res      Rev      Date
0     AR    0     0.00  11/22/20
1     CO    0     0.00  11/22/20
2     CS    0     0.00  11/22/20
3     CT    0     0.00  11/22/20
4    FIX    0     0.00  11/22/20
5     GC    0     0.00  11/22/20
6     GE    0     0.00  11/22/20
7     GL    0     0.00  11/22/20
8     GS    0     0.00  11/22/20
9     GV    0     0.00  11/22/20
10   HSE    1    69.00  11/22/20
11   INT    0     0.00  11/22/20
12    NG    1    69.00  11/22/20
13    OP    3   165.00  11/22/20
14    OT   51  4924.94  11/22/20
15    PK    0     0.00  11/22/20
16  PSBY    0     0.00  11/22/20
17    RA    7  1047.00  11/22/20
18    SP   33  3934.00  11/22/20
19    WH    2   130.00  11/22/20
20    AR    0     0.00  11/23/20
21    CO    0     0.00  11/23/20
22    CS    0     0.00  11/23/20
23    CT    0     0.00  11/23/20
24   FIX    0     0.00  11/23/20
25    GC    0     0.00  11/23/20
26    GE    0     0.00  11/23/20
27    GL    0     0.00  11/23/20
28    GS    0     0.00  11/23/20
29    GV    0     0.00  11/23/20
30   HSE    0     0.00  11/23/20
31   INT    0     0.00  11/23/20
32    NG    1    69.00  11/23/20
33    OP    1    55.00  11/23/20
34    OT   69  6343.51  11/23/20
35    PK    0     0.00  11/23/20
36  PSBY    0     0.00  11/23/20
37    RA    5   619.00  11/23/20
38    SP   27  3011.40  11/23/20
39    WH    2   130.00  11/23/20
40    AR    0     0.00  11/24/20
41    CO    0     0.00  11/24/20
42    CS    0     0.00  11/24/20
43    CT    0     0.00  11/24/20
44   FIX    0     0.00  11/24/20
45    GC    0     0.00  11/24/20
46    GE    0     0.00  11/24/20
47    GL    0     0.00  11/24/20
48    GS    0     0.00  11/24/20
49    GV    0     0.00  11/24/20
50   HSE    0     0.00  11/24/20
51   INT    0     0.00  11/24/20
52    NG    1    69.00  11/24/20
53    OP    0     0.00  11/24/20
54    OT   70  6429.30  11/24/20
55    PK    0     0.00  11/24/20
56  PSBY    0     0.00  11/24/20
57    RA    3   447.00  11/24/20
58    SP   33  3359.40  11/24/20
59    WH    2   130.00  11/24/20

## Segment Res

In [38]:
df3 = pd.read_csv('../revreports/data/11_23_20/segment_res.txt', sep="\t",
                 usecols=['RESERVATION_DATE', 'MARKET_CODE', 'NO_DEFINITE_ROOMS', 'TOTAL_REVENUE'],
                engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])

df3.columns = ['Date', 'Code', 'Res', 'Rev']

df4 = pd.read_csv('../revreports/data/11_24_20/segment_res.txt', sep="\t", 
                  usecols=['RESERVATION_DATE', 'MARKET_CODE', 'NO_DEFINITE_ROOMS', 'TOTAL_REVENUE'],
                 engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])
df4.columns = ['Date', 'Code', 'Res', 'Rev']

In [39]:
df4.head()

        Date Code  Res  Rev
0 2020-11-24   AR    0  0.0
1 2020-11-24   CO    0  0.0
2 2020-11-24   CS    0  0.0
3 2020-11-24   CT    0  0.0
4 2020-11-24  FIX    0  0.0

In [40]:
df5 = pd.concat([df1, df4])

In [47]:
df5.to_csv('Nov_24.csv', index=False)

In [51]:
df6 = pd.read_csv('Nov_24.csv', parse_dates=['Date']).set_index('Date')

In [52]:
df6.head()

           Code  Res  Rev
Date
2020-11-23   AR    0  0.0
2020-11-23   CO    0  0.0
2020-11-23   CS    0  0.0
2020-11-23   CT    0  0.0
2020-11-23  FIX    0  0.0

In [23]:
# transform into table
df3 = df3.set_index(['Date', 'Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)
df4 = df4.set_index(['Date', 'Code']).unstack().swaplevel(0,1,axis=1).sort_index(axis=1)

In [5]:
# look at pickup
(df2 - df.iloc[1:]).head()

Code        AR       CO       CS       CT      FIX       GC       GE       GL  \
           RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES
Date
2020-11-24   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-25   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-26   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-27   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0
2020-11-28   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0

Code             GS       GV      HSE      INT       NG       OP       OT  \
            REV RES  REV RES  REV RES  REV RES  REV RES  REV RES  REV RES
Date
2020-11-24  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  10
2020-11-25  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   8
2020-11-26  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   4
2020-11-27  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  12
2020-11-28  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0   0  0.0  10

Code                PK      PSBY       RA         SP         WH
               REV RES  REV  RES  REV RES    REV RES    REV RES  REV
Date
2020-11-24  643.44   0  0.0    0  0.0   0    0.0   5  426.0   0  0.0
2020-11-25  627.99   0  0.0    0  0.0   0    0.0   1   -9.0   0  0.0
2020-11-26  420.53   0  0.0    0  0.0   0    0.0   0    0.0   0  0.0
2020-11-27  848.12   0  0.0    0  0.0  -1 -159.0   3  190.0   0  0.0
2020-11-28  645.65   0  0.0    0  0.0  -1 -169.0   6  432.0   0  0.0

In [ ]:
# convert back to normal
df = df.swaplevel(0,1, axis=1).stack().reset_index() #.head()
df2 = df2.swaplevel(0,1, axis=1).stack().reset_index() #.head()

## Source Stat

In [100]:
df1 = pd.read_csv('../revreports/data/11_23_20/source_stat.txt', sep="\t",
                  usecols=['GRP2_CODE', 'ROOMS_DAY', 'ROOM_REV_DAY'], engine='python', skipfooter=2)
df1.columns = ['Code', 'Res', 'Rev']

In [102]:
df1.tail()

  Code  Res      Rev
2  GDS    0     0.00
3  INT    1    69.00
4  OTA   51  4924.94
5  WEB   28  3448.00
6  WHL    0     0.00

## Source Res

In [105]:
df3 = pd.read_csv('../revreports/data/11_23_20/source_res.txt', sep="\t",
                 usecols=['RESERVATION_DATE', 'MARKET_CODE', 'NO_DEFINITE_ROOMS', 'TOTAL_REVENUE'],
                engine='python', skipfooter=2, parse_dates=['RESERVATION_DATE'])

df3.columns = ['Date', 'Code', 'Res', 'Rev']
df3.head()

        Date  Code  Res      Rev
0 2020-11-23  CALL    2   288.00
1 2020-11-23   DIR    5   321.00
2 2020-11-23   GDS    0     0.00
3 2020-11-23   INT    0     0.00
4 2020-11-23   OTA   49  4946.23